<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <script th:src="@{./js/script.js}" src="../static/js/script.js">
    </script>
    <title>Administrazio Panela</title>
</head>

<body class="body">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgb(96,107,255);">
            <div class="container-fluid">
                <a class="navbar-brand text-black fw-bold ps-5">Miguel Altuna</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-light btn me-2" th:href="@{/gailuen_kontsulta}">Hasiera</a>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-outline-light btn dropdown-toggle" type="button"
                                id="administrazioDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Administrazioa
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="administrazioDropdown">
                                <li>
                                    <a class="dropdown-item" href="eraikinak.html" th:href="@{/eraikinak}">Eraikinak
                                        Kudeatu</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="gelak.html" th:href="@{/gelak}">Gelak Kudeatu</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="gailuak.html" th:href="@{/gailuak}">Gailuak
                                        Kudeatu</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="erabiltzaileak.html"
                                        th:href="@{/erabiltzaileak}">Erabiltzaileak Kudeatu</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="historikoa.html"
                                        th:href="@{/historikoa}">Historikoa</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="solairuak.html" th:href="@{/solairuak}">Solairuak
                                        Kudeatu</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- UsuarioLogeado.id_erabiltzailea
                        * 1: Administratzailea
                        * 2: Erabiltzailea
                        UsuarioLogeado.rola -->
                    <div class="d-flex align-items-center text-white pe-5">
                        <a class="btn btn-outline-light btn" th:href="@{/}">Saioa itxi</a>
                        <img src="../static/img/logopj.png" th:src="@{/img/logopj.png}" alt="User Icon" class="ms-2">
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <h1>Administrazio Panela</h1><br>
    <ul class="nav custom-nav-pills mb-4" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link btn btn-outline-light" id="eraikinak-tab" th:href="@{/eraikinak}"
                role="tab">Eraikinak</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link btn btn-outline-light" id="gelak-tab" th:href="@{/gelak}"
                role="tab">Gelak</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link active btn btn-outline-light" id="gailuak-tab" th:href="@{/gailuak}"
                role="tab">Gailuak</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link btn btn-outline-light" id="erabiltzaileak-tab" th:href="@{/erabiltzaileak}"
                role="tab">Erabiltzaileak</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link btn btn-outline-light" id="historikoa-tab" th:href="@{/historikoa}"
                role="tab">Historikoa</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link btn btn-outline-light" id="solairuak-tab" th:href="@{/solairuak}"
                role="tab">Solairuak</a>
        </li>
    </ul><br>
    <div class="row">
    <div class="col-12">
        <form th:action="@{/gailua-gehitu}" method="post">
            <div class="row align-items-end mb-4">
                <div class="col-md-2">
                    <label class="form-label">ID GAILUA</label>
                    <input type="text" name="id_gailua" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label class="form-label">GELA</label>
                    <select name="id_gela" class="form-select" required>
                        <option value="" disabled selected>Hautatu...</option>
                        <option th:each="gela : ${gelak}" th:value="${gela.id_gela}" th:text="${gela.izena}"></option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label class="form-label">IZENA</label>
                    <input type="text" name="izena" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label class="form-label">MOTA</label>
                    <input type="text" name="mota" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label class="form-label">SERIE</label>
                    <input type="number" name="serie" class="form-control" required placeholder="12345">
                </div>

                <div class="col-md-1">
                    <label class="form-label">EGOERA</label>
                    <select name="egoera" class="form-select" required>
                        <option value="Erabilgarri" selected>Erabilgarri</option>
                        <option value="Mailegatuta">Mailegatuta</option>
                        <option value="Konpontzen">Konpontzen</option>
                    </select>
                </div>

                <div class="col-md-1">
                    <button type="submit" class="btn btn-outline-success w-100">Gehitu</button>
                </div>
            </div>
        </form>
    </div>
</div><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID Gailua</th>
                <th>ID Gela</th>
                <th>Izena</th>
                <th>Mota</th>
                <th>Serie Zenbakia</th>
                <th>Egoera</th>
                <th>Ekintzak</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="gailua : ${gailuak}">
                <td th:text="${gailua.id_gailua}"></td>
                <td th:text="${gailua.id_gela}"></td>
                <td th:text="${gailua.izena}"></td>
                <td th:text="${gailua.gailu_mota}"></td>
                <td th:text="${gailua.serie_zenbakia}"></td>
                <td th:text="${gailua.egoera}"></td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm btn-accion" data-bs-toggle="modal"
                        th:attr="data-bs-target='#modalEdit'+${gailua.id_gailua}">
                        Editatu
                    </button>

                    <div class="modal fade" th:id="'modalEdit' + ${gailua.id_gailua}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Gailua Aldatu</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <form th:action="@{/gailua-eguneratu}" method="post">
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label class="form-label">ID Gailua</label>
                                            <input type="text" name="id_gailua" class="form-control"
                                                th:value="${gailua.id_gailua}" readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">ID Gela</label>
                                            <select name="id_gela" class="form-select" required>
                                                <th:block th:each="gela : ${gelak}">
                                                        <option th:value="${gela.id_gela}"
                                                              th:text="${gela.id_gela}"
                                                              th:selected="${gela.id_gela == gailua.id_gela}">
                                                        </option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Izena</label>
                                            <input type="text" name="izena" class="form-control"
                                                th:value="${gailua.izena}">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Gailu Mota</label>
                                            <input type="text" name="mota" class="form-control"
                                                th:value="${gailua.gailu_mota}">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Serie Zenbakia</label>
                                            <input type="number" name="serie" class="form-control"
                                                th:value="${gailua.serie_zenbakia}" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Egoera</label>
                                            <select name="egoera" class="form-select" required>
                                                <option value="Erabilgarri" th:selected="${gailua.egoera == 'Erabilgarri'}">Erabilgarri</option>
                                                <option value="Mailegatuta" th:selected="${gailua.egoera == 'Mailegatuta'}">Mailegatuta</option>
                                                <option value="Konpontzen" th:selected="${gailua.egoera == 'Konpontzen'}">Konpontzen</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Gorde Aldaketak</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                        <button type="button" class="btn btn-outline-danger btn-sm btn-accion" data-bs-toggle="modal"
                            th:attr="data-bs-target='#modalDelete'+${gailua.id_gailua}">
                            Ezabatu
                        </button>
                        <div class="modal fade" th:id="'modalDelete' + ${gailua.id_gailua}" tabindex="-1"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Ezabatu Gailua</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Seguru zaude gailu hau ezabatu nahi duzula?</p>
                                        <small class="text-muted text-align-center">Izena: <span
                                                th:text="${gailua.izena}"></span></small>
                                    </div>
                                    <div class="modal-footer">
                                        <form th:action="@{/gailua-ezabatu}" method="post" style="display:inline;">
                                            <input type="hidden" name="id_gailua" th:value="${gailua.id_gailua}">
                                            <button type="submit" class="btn btn-danger">Ezabatu</button>
                                        </form> 
                                    </div>
                                </div>
                            </div>
                        </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>