    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link rel="stylesheet" 
        href="../static/css/style.css" 
        th:href="@{/css/style.css}">      
        <script th:src="@{./js/script.js}"
        src="../static/js/script.js">
        </script>      
        <title>Web orrialdea</title>
    </head>
    <body id="login">
        <div class="container">
            <div class="card-body">
                <br><br><br>
                <h1 class="card-title" style="color: rgb(2, 2, 111); font-weight:bold; text-align: center; ">MIGUEL ALTUNA</h1><br><br>
                <h5 class="card-text" style="color: rgb(65, 65, 65); text-align: center;">Gailu elektronikoen kudeaketa sistemara sartzeko<br> erabili zure kontua.</h5><br><br>
                
                <div th:if="${error}" class="alert alert-danger" style="text-align: center;" role="alert">
                    <span th:text="${error}"></span>
                </div>

                <br>
                <form action="/login" method="post">
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Username</span>
                    <input type="text" name="username" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div><br><br>

                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Password</span>
                    <input type="password" name="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
                <br>
                <button type="submit" class="btn btn-outline-primary">SARTU</button>
                </form>
            </div>
    </body>
    </html>