<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <script th:src="@{./js/script.js}" src="../static/js/script.js">
    </script>
    <title>Administrazio Panela</title>
</head>

<body class="body">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgb(96,107,255);">
            <div class="container-fluid">
                <a class="navbar-brand text-black fw-bold ps-5">Miguel Altuna</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-light btn me-2" th:href="@{/gailuen_kontsulta}">Hasiera</a>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-outline-light btn dropdown-toggle" type="button"
                                id="administrazioDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Administrazioa
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="administrazioDropdown">
                                <li>
                                    <a class="dropdown-item" href="eraikinak.html" th:href="@{/eraikinak}">Eraikinak
                                        Kudeatu</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="gelak.html" th:href="@{/gelak}">Gelak Kudeatu</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="gailuak.html" th:href="@{/gailuak}">Gailuak
                                        Kudeatu</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="erabiltzaileak.html"
                                        th:href="@{/erabiltzaileak}">Erabiltzaileak Kudeatu</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="historikoa.html"
                                        th:href="@{/historikoa}">Historikoa</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="solairuak.html" th:href="@{/solairuak}">Solairuak
                                        Kudeatu</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- UsuarioLogeado.id_erabiltzailea
                        * 1: Administratzailea
                        * 2: Erabiltzailea
                        UsuarioLogeado.rola -->
                    <div class="d-flex align-items-center text-white pe-5">
                        <a class="btn btn-outline-light btn" th:href="@{/}">Saioa itxi</a>
                        <img src="../static/img/logopj.png" th:src="@{/img/logopj.png}" alt="User Icon" class="ms-2">
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <h1>Administrazio Panela</h1><br>

    <ul class="nav custom-nav-pills mb-4" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link  btn btn-outline-light" id="eraikinak-tab"
                onclick="window.location.href='eraikinak.html'" th:onclick="|window.location.href='@{/eraikinak}'|"
                data-bs-toggle="pill" type="button" role="tab">Eraikinak</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn btn-outline-light" id="gelak-tab" onclick="window.location.href='gelak.html'"
                th:onclick="|window.location.href='@{/gelak}'|" data-bs-toggle="pill" type="button"
                role="tab">Gelak</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn btn-outline-light" id="gailuak-tab"
                onclick="window.location.href='gailuak.html'" th:onclick="|window.location.href='@{/gailuak}'|"
                data-bs-toggle="pill" type="button" role="tab">Gailuak</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn btn-outline-light" id="erabiltzaileak-tab"
                onclick="window.location.href='erabiltzaileak.html'"
                th:onclick="|window.location.href='@{/erabiltzaileak}'|" data-bs-toggle="pill" type="button"
                role="tab">Erabiltzaileak</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn btn-outline-light" id="historikoa-tab"
                onclick="window.location.href='historikoa.html'" th:onclick="|window.location.href='@{/historikoa}'|"
                data-bs-toggle="pill" type="button" role="tab">Historikoa</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active btn btn-outline-light" id="solairuak-tab"
                onclick="window.location.href='solairuak.html'" th:onclick="|window.location.href='@{/solairuak}'|"
                data-bs-toggle="pill" type="button" role="tab">Solairuak</button>
        </li>
    </ul><br>
    <br><br>
    <form th:action="@{/solairua-gehitu}" method="post">
        <div class="row g-2 align-items-center mb-4">
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-text">ID_SOLAIRUA</span>
                    <input type="text" name="id_solairua" class="form-control" placeholder="Sartu IDa" required>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group input-group-md">
                    <span class="input-group-text">ERAIKINA</span>
                    <select name="id_eraikina" class="form-select" required>
                        <option value="" selected disabled>Hautatu...</option>
                        <th:block th:each="eraikina : ${eraikinak}">
                            <option th:value="${eraikina.idEraikina}" th:text="${eraikina.izena}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-text">DESKRIBAPENA</span>
                    <input type="text" name="deskribapena" class="form-control" required>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-text">SOLAIRU ZENBAKIA</span>
                    <input type="number" name="solairu_zenb" class="form-control" required>
                </div>
            </div>
            <div class="col-md-1 d-grid">
                <button type="submit" class="btn btn-outline-success btn-accion">Gehitu</button>
            </div>
        </div>
    </form>

    <br>

    <div class="col-md-8 mb-4">
        <div class="d-flex align-items-center" style="gap: 150px;">
            <label class="form-label mb-0 me-3 text-secondary fw-bold text-nowrap" style="font-size: 0.9rem;">
                Bilatu solairuaren ID solairua, izena... :
            </label>

            <div class="search-box-modern flex-grow-1">
                <form th:action="@{/solairuak}" method="get">
                    <div class="input-group shadow-sm">
                        <span class="input-group-text bg-white border-end-0">
                            <i class="bi bi-search text-primary"></i>
                        </span>
                        <input type="text" id="searchInput" name="query" class="form-control border-start-0"
                            th:value="${query}" placeholder="Bilatu..." aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Bilatu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Taula -->
    <div class="row justify-content-center">
        <div class="col-12 d-flex justify-content-center g-5">
            <table class="table table-hover w-75 text-center align-middle">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">ID Solairua</th>
                        <th scope="col">ID Eraikina</th>
                        <th scope="col">Deskribapena</th>
                        <th scope="col">Solairu Zenbakia</th>
                        <th scope="col">Ekintza</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="solairua : ${solairuak}">
                        <th scope="row" th:text="${solairua.id_solairua}"></th>
                        <td th:text="${solairua.id_eraikina}"></td>
                        <td th:text="${solairua.deskribapena}"></td>
                        <td th:text="${solairua.solairu_zenb}"></td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm btn-accion" data-bs-toggle="modal"
                                th:attr="data-bs-target='#modalEdit'+${solairua.id_solairua}">Editatu
                            </button>
                            <div class="modal fade" th:id="'modalEdit' + ${solairua.id_solairua}" tabindex="-1"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Solairua Aldatu</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <form action="/solairua-eguneratu" method="post">
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label class="form-label">ID Solairua</label>
                                                    <input type="text" name="id_solairua" class="form-control"
                                                        th:value="${solairua.id_solairua}" readonly>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Eraikina</label>
                                                    <select name="id_eraikina" class="form-select" required>
                                                        <th:block th:each="eraikina : ${eraikinak}">
                                                            <option th:value="${eraikina.idEraikina}"
                                                                th:text="${eraikina.izena}"
                                                                th:selected="${eraikina.idEraikina == solairua.id_eraikina}">
                                                            </option>
                                                        </th:block>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Deskribapena</label>
                                                    <input type="text" name="deskribapena" class="form-control"
                                                        th:value="${solairua.deskribapena}">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Solairu Zenbakia</label>
                                                    <input type="number" name="solairu_zenb" class="form-control"
                                                        th:value="${solairua.solairu_zenb}">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Gorde Aldaketak</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-outline-danger btn-sm btn-accion"
                                data-bs-toggle="modal"
                                th:attr="data-bs-target='#modalDelete'+${solairua.id_solairua}">Ezabatu
                            </button>
                            <div class="modal fade" th:id="'modalDelete' + ${solairua.id_solairua}" tabindex="-1"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Ezabatu Solairua</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Seguru zaude ezabatu nahi duzula?</p>
                                            <small class="text-muted">ID solairua: <span
                                                    th:text="${solairua.id_solairua}"></span></small>
                                        </div>
                                        <div class="modal-footer">
                                            <form th:action="@{/solairua-ezabatu}" method="post" style="display:inline;">
                                                <input type="hidden" name="id_solairua" th:value="${solairua.id_solairua}">
                                                <button type="submit" class="btn btn-danger">Ezabatu</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>