<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Administrazio Panela</title>
</head>
<body class="body">
     <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgb(96,107,255);">
            <div class="container-fluid">
                <a class="navbar-brand text-black fw-bold ps-5">Miguel Altuna</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <button class="btn btn-outline-light btn me-2" type="button" onclick="window.location.href='gailuen_kontsulta.html'">Hasiera</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-light btn" type="button">Administrazioa</button>
                        </li>
                    </ul>
                     <!-- UsuarioLogeado.id_erabiltzailea
                        * 1: Administratzailea
                        * 2: Erabiltzailea
                        UsuarioLogeado.rola -->
                    <div class="d-flex align-items-center text-white pe-5">
                        <button class="btn btn-outline-light btn" type="button" onclick="window.location.href='index.html'">Saioa itxi</button>
                        <img src="./img/logopj.png" alt="User Icon" class="ms-2">
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <h1>Administrazio Panela</h1><br>
    <ul class="nav custom-nav-pills mb-4" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link  btn btn-outline-light" id="eraikinak-tab" onclick="window.location.href='eraikinak.html'"
                data-bs-toggle="pill" type="button" role="tab">Eraikinak</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn btn-outline-light" id="gelak-tab" onclick="window.location.href='gelak.html'" 
                data-bs-toggle="pill" type="button" role="tab">Gelak</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn btn-outline-light" id="gailuak-tab" onclick="window.location.href='gailuak.html'"
                data-bs-toggle="pill" type="button" role="tab">Gailuak</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link active btn btn-outline-light" id="erabiltzaileak-tab" data-bs-toggle="pill" type="button" role="tab">Erabiltzaileak</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn btn-outline-light" id="historikoa-tab" onclick="window.location.href='historikoa.html'"
                data-bs-toggle="pill" type="button" role="tab">Historikoa</button>
            </li>
        </ul><br>
</body>
</html>